flows.json
[{"id":"5a742800.caa7d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"93ac917a.413a3","type":"mqtt out","z":"5a742800.caa7d8","name":"","topic":"elcis1210_receive","qos":"","retain":"","broker":"a468e61a.ea9c78","x":610,"y":200,"wires":[]},{"id":"99819ea1.19048","type":"telegram command","z":"5a742800.caa7d8","name":"/lightOff","command":"/lightOff","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":50,"y":320,"wires":[["9eccb32a.24a6d"],[]]},{"id":"9eccb32a.24a6d","type":"function","z":"5a742800.caa7d8","name":"Turn off LEDs","func":"msg.payload = 6;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":320,"wires":[["93ac917a.413a3"]]},{"id":"538300aa.48da4","type":"telegram command","z":"5a742800.caa7d8","name":"/lightOn","command":"/lightOn","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":50,"y":260,"wires":[["8416ae93.2ee09"],[]]},{"id":"8416ae93.2ee09","type":"function","z":"5a742800.caa7d8","name":"Turn on LEDs","func":"msg.payload = 5;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":260,"wires":[["93ac917a.413a3"]]},{"id":"9a7be428.0ea758","type":"mqtt in","z":"5a742800.caa7d8","name":"","topic":"elcis1210_send","qos":"2","datatype":"utf8","broker":"a468e61a.ea9c78","x":80,"y":940,"wires":[["bfcf09aa.0a5d08","a952fed7.f663e","3c9f0b34.e5ae64"]]},{"id":"4f43ee92.ee938","type":"telegram command","z":"5a742800.caa7d8","name":"/buzzerOff","command":"/buzzerOff","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":60,"y":200,"wires":[["c90c03.e51614"],[]]},{"id":"c90c03.e51614","type":"function","z":"5a742800.caa7d8","name":"Turn off buzzer","func":"msg.payload = 4;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[["93ac917a.413a3"]]},{"id":"834db59a.0b93d8","type":"telegram command","z":"5a742800.caa7d8","name":"/buzzerOn","command":"/buzzerOn","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":60,"y":140,"wires":[["70d54fe7.3299e"],[]]},{"id":"70d54fe7.3299e","type":"function","z":"5a742800.caa7d8","name":"Turn on buzzer","func":"msg.payload = 3;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":140,"wires":[["93ac917a.413a3"]]},{"id":"e0422acf.5b7808","type":"telegram command","z":"5a742800.caa7d8","name":"/powerOff","command":"/powerOff","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":60,"y":80,"wires":[["18959b46.0750c5"],[]]},{"id":"18959b46.0750c5","type":"function","z":"5a742800.caa7d8","name":"Turn off power","func":"msg.payload = 2;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":80,"wires":[["93ac917a.413a3"]]},{"id":"5625a95e.8ea3c8","type":"telegram command","z":"5a742800.caa7d8","name":"/powerOn","command":"/powerOn","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":60,"y":20,"wires":[["195c62b0.bf938d"],[]]},{"id":"195c62b0.bf938d","type":"function","z":"5a742800.caa7d8","name":"Turn on power","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":20,"wires":[["93ac917a.413a3"]]},{"id":"bfcf09aa.0a5d08","type":"function","z":"5a742800.caa7d8","name":"createMessage","func":"message = msg.payload;\n//start\n\n//end\nmsg.payload = {};\nmsg.payload.type = 'message';\nmsg.payload.content = message;\nmsg.payload.chatId = 1592976113;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":920,"wires":[["cf2c228.f912fe"]]},{"id":"a952fed7.f663e","type":"debug","z":"5a742800.caa7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":980,"wires":[]},{"id":"33548528.d5987a","type":"telegram command","z":"5a742800.caa7d8","name":"/checkPower","command":"/checkPower","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":70,"y":380,"wires":[["a013ac1a.7f766"],[]]},{"id":"a013ac1a.7f766","type":"function","z":"5a742800.caa7d8","name":"Check power","func":"msg.payload = 7;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":380,"wires":[["93ac917a.413a3"]]},{"id":"ffbc08d9.f714b8","type":"telegram command","z":"5a742800.caa7d8","name":"/checkBuzzer","command":"/checkBuzzer","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":70,"y":440,"wires":[["89f6adad.28565"],[]]},{"id":"89f6adad.28565","type":"function","z":"5a742800.caa7d8","name":"Check buzzer","func":"msg.payload = 8;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":440,"wires":[["93ac917a.413a3"]]},{"id":"c74ecbcc.db9028","type":"telegram command","z":"5a742800.caa7d8","name":"/checkLight","command":"/checkLight","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":70,"y":500,"wires":[["39ddb0ad.baccc"],[]]},{"id":"39ddb0ad.baccc","type":"function","z":"5a742800.caa7d8","name":"Check light","func":"msg.payload = 9;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":500,"wires":[["93ac917a.413a3"]]},{"id":"92c124a0.1389d8","type":"addFirebase","z":"5a742800.caa7d8","firebaseCertificate":"e7f942af.4a682","client_email":"","private_key":"","data":"","childpath":"Messages","propertyType":"str","method":"push","newchildpath":"","x":570,"y":1220,"wires":[[]]},{"id":"9eae156a.035e78","type":"inject","z":"5a742800.caa7d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":1260,"wires":[["ab4e27c9.d3b478"]]},{"id":"ab4e27c9.d3b478","type":"function","z":"5a742800.caa7d8","name":"","func":"let time = msg.payload;\nmsg.payload = {\n    \"time\": time,\n    \"msg\": \"guest\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1220,"wires":[["92c124a0.1389d8"]]},{"id":"5c7491b3.9d20c","type":"addFirebase","z":"5a742800.caa7d8","firebaseCertificate":"e7f942af.4a682","client_email":"","private_key":"","data":"","childpath":"Messages","propertyType":"str","method":"get","newchildpath":"","x":270,"y":1440,"wires":[["799fae9d.1d20d"]]},{"id":"1e1b2d0c.523ce3","type":"debug","z":"5a742800.caa7d8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":1360,"wires":[]},{"id":"58dd0d5c.5d1f54","type":"inject","z":"5a742800.caa7d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":1480,"wires":[["5c7491b3.9d20c"]]},{"id":"799fae9d.1d20d","type":"function","z":"5a742800.caa7d8","name":"","func":"let object = msg.payload;\nlet message =\"\";\n\nfor (let i in object){\n    let date = new Date(object[i].time);\n    message += date.toLocaleString() + \": \" + object[i].msg + \"\\n\";\n    console.log(message);\n}\n    \nmsg.payload = {};\nmsg.payload.type = 'message';\nmsg.payload.content = message;\nmsg.payload.chatId = 1592976113;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1540,"wires":[["1e1b2d0c.523ce3","35a3b83c.3787c8"]]},{"id":"35a3b83c.3787c8","type":"telegram sender","z":"5a742800.caa7d8","name":"","bot":"bdf8a0f.0df7d6","haserroroutput":false,"outputs":1,"x":650,"y":1560,"wires":[[]]},{"id":"bd490835.fadaf8","type":"telegram command","z":"5a742800.caa7d8","name":"/help","command":"/help","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":50,"y":820,"wires":[["202c5fc.9993ba","92430cd0.b788"],[]]},{"id":"202c5fc.9993ba","type":"function","z":"5a742800.caa7d8","name":"get help","func":"msg.payload = {};\nmsg.payload.type = 'message';\nmsg.payload.chatId = 1592976113;\n\n// msg.payload.content = \"Help: hiện danh sách câu lệnh\\n\";\n// msg.payload.content += \"/powerOn: bật mạch\\n\";\n// msg.payload.content += \"/powerOff: tắt mạch\\n\";\n// msg.payload.content += \"/buzzerOn: bật kèn\\n\";\n// msg.payload.content += \"/buzzerOff: tắt kèn\\n\";\n// msg.payload.content += \"/lightOn: bật đèn\\n\";\n// msg.payload.content += \"/lightOff: tắt đèn\\n\";\n// msg.payload.content += \"/checkPower: xem trạng thái bật/tắt của thiết bị\\n\";\n// msg.payload.content += \"/checkBuzzer: xem trạng thái bật/tắt của kèn\\n\";\n// msg.payload.content += \"/checkLight: xem trạng thái bật/tắt của đèn\\n\";\n// msg.payload.content += \"/showDiary: xem lịch sử báo động\\n\";\nmsg.payload.content = \"im helping you\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":840,"wires":[["cf2c228.f912fe"]]},{"id":"cf2c228.f912fe","type":"telegram sender","z":"5a742800.caa7d8","name":"","bot":"bdf8a0f.0df7d6","haserroroutput":false,"outputs":1,"x":750,"y":840,"wires":[[]]},{"id":"b6c4bc20.e9dcb","type":"telegram command","z":"5a742800.caa7d8","name":"/showDiary","command":"/showDiary","bot":"bdf8a0f.0df7d6","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":60,"y":640,"wires":[["a94efff4.e307d","54389ee.d9e416"],[]]},{"id":"d11e2f74.49c6e","type":"function","z":"5a742800.caa7d8","name":"Show diary","func":"var object = msg.payload;\nvar message =\"\";\n\nfor (var i in object){\n    var date = new Date(object[i].time);\n    message += date.toLocaleString() + \": \" + object[i].msg + \"\\n\";\n    console.log(message);\n}\n    \nmsg.payload = {};\nmsg.payload.type = 'message';\nmsg.payload.content = message;\nmsg.payload.chatId = 1592976113;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":660,"wires":[["cf2c228.f912fe"]]},{"id":"54389ee.d9e416","type":"addFirebase","z":"5a742800.caa7d8","firebaseCertificate":"e7f942af.4a682","client_email":"","private_key":"","data":"","childpath":"Messages","propertyType":"str","method":"get","newchildpath":"","x":230,"y":600,"wires":[["d11e2f74.49c6e"]]},{"id":"a94efff4.e307d","type":"debug","z":"5a742800.caa7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":230,"y":700,"wires":[]},{"id":"92430cd0.b788","type":"debug","z":"5a742800.caa7d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":760,"wires":[]},{"id":"96c905c3.921038","type":"addFirebase","z":"5a742800.caa7d8","firebaseCertificate":"e7f942af.4a682","client_email":"","private_key":"","data":"","childpath":"Messages","propertyType":"str","method":"push","newchildpath":"","x":730,"y":1040,"wires":[[]]},{"id":"3c9f0b34.e5ae64","type":"function","z":"5a742800.caa7d8","name":"writeToFirebase","func":"let time = Date.now();\nlet message = msg.payload;\n\nmsg.payload = {\n    \"time\": time,\n    \"msg\": message\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1040,"wires":[["96c905c3.921038"]]},{"id":"a468e61a.ea9c78","type":"mqtt-broker","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bdf8a0f.0df7d6","type":"telegram bot","botname":"group_9_bot","usernames":"","chatids":"1592976113","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"e7f942af.4a682","type":"firebaseCertificate","firebaseurl":"iot-anti-thief-default-rtdb","loginType":"none"}]